*{
 margin: 0;
 padding: 0; 
}
.gray {
  width: 100vw;
  height: 100vh;
	background-color: gray;
}
.center {
  text-align: center;
}
.font_white {
  color:white;
}
.horizontal_line{
  padding: 3px; 
  background: white;
} 
.button_roundness {
  border-radius: 7px;
}
.fontsize_oversized{
  font-size: 27px;
}



